.body{
    	background-image:url(../WAImages/backdrop_dark.png); background-repeat: repeat-y;
}

#shoppingcart{
	margin-top:50px;
	margin-left: 50px;
	height: 100px;
	width: 600px;
	background-image:url(../WAImages/backdrop_dark.png); background-repeat: repeat-y;
	border: 1px solid #cf942d;
        color: #cf942d;

}

#booklist, #contents {
	margin-top: 10px;
	margin-left: 50px;
	alignment-adjust:central;	
        width: 600px;
	background-image:url(../WAImages/backdrop_darker.png); background-repeat: repeat-y;
	border: 1px solid #cf942d;
        color: #cf942d;
}

#booklist ul {
	list-style-type: none;
}

#booklist ul li {
	margin: 0 1em 1em;
        color: #cf942d;
}

#contents table {
	font-size: 90%;
	border-collapse: collapse;
}

#contents table td {
	border: 1px solid #999;
	width: 20%;
}

#contents p, #contents button {
	margin: 1em;
}