body 
{
   background-color: #d7995e;
   color: #ffd17b;
}

h1, h2, h3, h4, h5, h6, th
{
color: #ffd17b;
}

.caption{font-weight: bold; color: maroon;}
.greeting {font-size:34pt; font-family: Bookman Old Style; font-style:italic; font-weight:bold;}
.content {font-size:14pt; font-family: Georgia}

.navbar-inverse {
    background-color: #150a06;
    border-color: #d7995e;
}

.invoice 
{
	background-color: white;	
}

#invoice {border-spacing: 0px; border: 1px solid maroon; width:100%;}
#invoice td, #invoice th{padding: 6px; border: 1px solid #cf942d;}

/*The style for the Master page */
#header{background-image:url(../WAImages/backdrop.jpg); background-repeat: no-repeat; width:100%; height:200px; background-size:cover; position:fixed; top:0px; border: 1px solid #d7995e;}
#logo{background-image:url(../WAImages/logo.png); background-repeat:no-repeat; width:200px; height:80px; margin-top:60px;}
#left{background-image:url(../WAImages/backdrop_dark.png); background-repeat: repeat-y;  padding-top:20px; top:150px; height:800px; border: 1px solid #d7995e;}
#right{top:150px; height:800px; background-image:url(../WAImages/backdrop_darker.png); background-repeat: repeat-y; border: 1px solid #d7995e; border-left: none;}

/*The style for the table on Browse page */
#IDates{margin:auto; border:3px solid #cf942d; border-spacing:0px; border-collapse:collapse;}
#IDates td, th{border: 1px solid #cf942d;}

